.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    width: 100%;
    height: 100%;
}

.fill img.cover{
    object-fit: cover;
}
.fill img.contain{
    object-fit: contain;
}
.fill img.fill{
    object-fit: fill;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 75vh;
    width: 100%;
}


#partners{
    .fill{
        max-width: 200px;
        max-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}

.scroll {
    display: block;
    width: 100%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 70px;
}

.card{
    position: relative;
    overflow: hidden;
}
.card::before{
    content: attr(data-price);
    position: absolute;
    top: 0.4em;
    right: -1em;
    width: 7em;
    height: 1.5em;
    transform: rotate(30deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-style: oblique;
}